.newsletter-popup {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    place-content: center;
    position: absolute;
}

.newsletter-popup-backdrop {
    width: 100vw;
    height: 100vh;
    background-color: var(--transparent-backdrop);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
}

.newsletter-popup-container {
    margin: 0 1.5rem;
    background-color: var(--white-color);
    border-radius: 100px;
    width: 1rem;
    height: 1rem;
    z-index: 1002;
    position: relative;
    margin: 0 auto;
    max-width: 40rem;
}

.newsletter-popup-content {
    opacity: 0;
    padding: 1rem;
}

.newsletter-popup-content h2 {
    margin: 0 auto;
}

.newsletter-cover-image {
    background-image: url(../assets/images/newsletter/newsletter-cover.png);
    height: 13rem;
    width: 100%;
    max-width: 20rem;
    background-size: cover;
    margin: 2rem 0;
    box-shadow: var(--box-shadow);
    margin: 2rem auto;
}

.newsletter-popup-form {
    display: flex;
    flex-direction: column;
}

.newsletter-popup-form input {
    padding: 1rem;
    border: none;
    margin: 0 auto 1rem auto;
    background-color: var(--line-color);
    width: 100%;
    max-width: 20rem;
}

.newsletter-popup-submit {
    border: none;
    height: 3rem;
    width: 50%;
    margin: auto;
}

.newsletter-popup-close {
    float: right;
    border: none;
    background-color: transparent;
    color: var(--secondary-color);
    position: relative;
    margin: 2rem 0;
    bottom: 0;
    right: 1rem;
    opacity: 0%;
}

.newsletter-popup-removed {
    display: none;
}

@media only screen and (min-width: 800px){
    .newsletter-popup-content h2 {
        max-width: 50%;
    }
}