* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--background-color);
}

@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-medium;
    src: url(../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-bold;
    src: url(../assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Contrail-one;
    src: url(../assets/fonts/ContrailOne-Regular.ttf);
}

:root {
    --primary-color: rgb(233, 86, 12);
    --secondary-color: rgb(82, 82, 82);
    --transparent-backdrop: rgb(82, 82, 82, 75%);
    --line-color: rgb(243, 243, 243);
    --yellow-color: rgb(255, 164, 46);
    --black-color: rgb(0, 0, 0);
    --white-color: rgb(255, 255, 255);
    --cta-gradient: linear-gradient(to right, var(--primary-color), var(--yellow-color));
    --background-color: rgb(243, 243, 243);
    --background-color--alternate: rgb(229, 229, 229);

    --hero-heading: 1.5rem Contrail-one;
    --primary-heading: 1.3rem Contrail-one;
    --sub-heading: 1rem Contrail-one;
    --main-text: 1rem Roboto;
    --btn-text: 1rem Contrail-one;
    --box-shadow: 0px 3px 6px rgba(0, 0, 0, 17%);
    --border-radius: 5px;
}

/* -------------------- GLOBAL -------------------- */


.hero-heading {
    font: var(--hero-heading);
    color: var(--white-color);
    position: relative;
    z-index: 1;
    max-width: 60%;
}

.primary-heading {
    font: var(--primary-heading);
    color: var(--primary-color);
    margin-top: 2rem;
}

.primmary-heading--alternate {
    font-size: 1.5em;
    font-weight: normal;
}

.sub-heading {
    font: var(--sub-heading);
}

.color-primary {
    color: var(--primary-color);
}

.color-secondary {
    color: var(--secondary-color);
}

.main-text {
    font: var(--main-text);
    margin: 1rem 0;
}

.bold {
    font-weight: bold;
}

section:not(.hero-section):not(.get-offer-section):not(.testemonials-section):not(.projects-carousel):not(.location-container):not(.product-section) {
    padding: 1rem 1.5rem 3rem 1.5rem;
}

.section-color--alternate {
    background-color: var(--background-color--alternate);
}

.primary-cta-btn,
.secondary-cta-btn {
    text-align: center;
    justify-self: center;
    border-radius: var(--border-radius);
    font: var(--btn-text);
    padding: 0.5em 1em;
    position: relative;
    z-index: 1;
}

.primary-cta-btn {
    color: var(--white-color);
    background: var(--cta-gradient);
}

.secondary-cta-btn {
    color: var(--primary-color);
    background: var(--white-color);
}

.sub-hero-section {
    height: 20vh;
    margin-top: 5rem;
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    display: grid;
    place-content: center;
    padding-left: 1.5rem;
}

.sub-hero-section:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right,
                rgba(52, 52, 52, 0.7) 0%,
                rgb(52, 52, 52, 80%) 5%,
                transparent 100%);
}

input:focus, textarea:focus {
    outline: none;
}

/* -------------------- SCROLL -------------------- */

.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active{
    transform: translateY(0) !important;
    opacity: 1 !important;
}

/* -------------------- HEADER -------------------- */

header {
    height: 5rem;
    width: 100vw;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo-anchor {
    position: relative;
    /* overflow: hidden; */
    height: 3rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.logo-anchor:before {
    content: '';
    position: absolute;
    top: -.055rem;
    left: .55rem;
    width: 5rem;
    height: 5rem;
    border: solid .2rem transparent;
}

.logo {
    height: 3rem;
    position: relative;
    margin-top: 1rem;
}

.logo:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-color: green;
    width: 100%;
    height: 100%;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 998;
    background-color: var(--white-color);
    transform: translateX(100vw);
    transition: 0.5s;
    padding: 0 1.5rem;
    overflow: hidden;
}

.navigation-open {
    transform: translateX(0vw);
    transition: 0.5s;

}

.navigation-logo {
    margin-top: 6rem;
    width: 50%;
}

.navigation-list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
}

.navigation-item {
    width: 100%;
    position: relative;
}

.navigation-list .navigation-item:not(:last-of-type):before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: .1rem;
    background-color: var(--line-color)
}

.navigation-link {
    font: var(--main-text);
    color: var(---black-color);
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.navigation-link--current {
    color: var(--primary-color);
}

.navigation-link-arrow {
    display: flex;
}

.navigation-cta-btn {
    margin-top: 2rem;
    font-size: 1.5rem;
}

.burger-toggle {
    width: 2.5rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 999;
    top: 1.5rem;
    right: 1.5rem;
    border: none;
    background-color: transparent;
    position: fixed;
}

.burger-bar {
    width: 100%;
    height: 4px;
    background-color: var(--secondary-color);
    border-radius: 5rem;
}

/* -------------------- FOOTER -------------------- */

footer {
    padding: 0 1.5rem;
    background-color: var(--white-color);
}

.footer-contact-info-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -2rem;
}

.footer-contact-info-block {
    padding: 1rem;
    box-shadow: var(--box-shadow);
    margin: .5rem 0;
    background-color: var(--white-color);
    font: var(--main-text);
    text-align: center;
    border-radius: 5px;
}

.footer-newsletter-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-newsletter-container>h6 {
    font-size: 1.5em;
}

.footer-newsletter-form {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.footer-newsletter-input {
    padding: 1rem;
    border: none;
    margin: 0 0 1rem 0;
    background-color: var(--line-color);
    font: var(--main-text);
    border-radius: 2px;
}

.footer-newsletter-btn {
    width: 8rem;
    align-self: center;
    margin-top: .5rem;
}

.footer-grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        'contact'
        'legal'
        'some'
        'practical'
    ;
}

.footer-grid-container > a, .footer-grid-legal > a {
    font-weight: bold;
    color: var(--black-color);
}

.footer-grid-contact {
    grid-area: contact;
}

.footer-grid-legal {
    grid-area: legal;
    display: flex;
    flex-direction: column;
}

.footer-grid-some {
    grid-area: some;
}

.footer-grid-practical {
    grid-area: practical;
}

.footer-logo-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.footer-logo {
    height: 5rem;
    margin: 3rem 0 1rem 0;
}

/* -------------------- INDEX STYLING -------------------- */


/* -------------------- HERO SECTION -------------------- */

.hero-section {
    height: 28.5vh;
    margin-top: 5rem;
    background-image: url(../assets/images/index-hero-image.png);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    position: relative;
    display: grid;
    place-content: center;
    padding-left: 1.5rem;
}

.hero-section:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,
            rgb(52, 52, 52, 70%) 0%,
            rgb(52, 52, 52, 80%) 5%,
            transparent 100%);
}

.hero-cta-container {
    margin-top: 1rem;
}

/* -------------------- INTRO SECTION -------------------- */

.intro-video {
    width: 100%;
}

/* -------------------- CALL ME SECTION -------------------- */

.call-me-section {
    background-color: var(--background-color--alternate);
    padding-top: 1rem;
}

.call-me-container {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.call-me-content {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 1rem 1rem 1rem;
}

.call-me-content>h2 {
    font-size: .8em;
    margin-bottom: .5rem;
}

.call-me-image {
    background-image: url(../assets/images/index-call-me-image.jpg);
    width: 60%;
    background-size: 150%;
    background-position: 50% 100%;
    position: relative;
}

.call-me-image:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-image: var(--cta-gradient);
    opacity: 60%;
}

.call-me-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.call-me-input {
    width: 100%;
    padding: .5rem;
    border: none;
    margin: .5rem 0;
    background-color: var(--line-color);
    border-radius: 2px;
}

.call-me-form-btn {
    width: 6rem;
    margin-top: 1rem;
    font-size: .8em;
}

/* -------------------- TESTEMONIALS SECTION -------------------- */

.testemonials-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 2rem 0;
}

.testemonials-section>h4 {
    font-size: 1.5em;
    margin: 2rem 0;
}

/* TESTIMONIALS CAROUSEL */

.gallery {
    background: transparent;
    width: 100%;
    margin-bottom: 2.5rem;
}

.gallery-cell {
    width: 80%;
    height: 16rem;
    margin-right: 10px;
    background-color: var(--white-color) !important;
    counter-increment: gallery-cell;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.gallery-cell-name {
    position: relative;
}

.gallery-cell-name:before {
    position: absolute;
    content: '';
    width: 80%;
    height: 2px;
    background-color: var(--line-color);
    bottom: -1.25rem;
    transform: translateX(10%);
}

.cell-rating {
    display: flex;
    flex-direction: row;
}


.cell-rating img {
    display: flex;
    flex-direction: row;
    width: 1.8rem;
    margin: 0 0.2rem;
}



/* -------------------- REFERENCES SECTION -------------------- */

.references-section {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color--alternate);
}

.references-image {
    width: 100%;
}

.references-cta-btn {
    width: 10rem;
    align-self: center;
}

.reference-btn-desktop {
    display: none;
}

/* -------------------- GET OFFER SECTION -------------------- */

.get-offer-section {
    height: 35vh;
    background-image: url(../assets/images/get-offer-image.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
}

.get-offer-section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    opacity: 70%;
}

/* -------------------- PRODUCTS STYLING -------------------- */

.products-hero {
    background-image: url(../assets/images/products/products-hero.png);
}

.product-section {
    padding: 2rem 0;
}

.product-image {
    background-image: url(../assets/images/products/products-hero.png);
    background-size: cover;
    background-position: center;
    display: grid;
    place-content: center;
    align-content: center;
    position: relative;
    height: 15rem;
}

.product-image:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    opacity: 60%;
}

.product-image-icon {
    position: relative;
    z-index: 1;
    height: 70%;
    margin: auto;
}

.product-desc, .product-intro {
    padding: 0 1.5rem;
}

/* -------------------- CONTACT STYLING -------------------- */

.contact-hero {
    background-image: url(../assets/images/contact/contact-hero.png);
}

.contact-hero > .hero-heading {
    max-width: 65%;
}

.contact-section > .icon-container {
    margin-top: 4rem;
    justify-content: center;
}

.icon-container {
    display: flex;
    height: 3rem;
    width: 100%;
    margin: 1rem 0;
}

.contact-iconset {
    margin-right: 1rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form-input,
.contact-form-textarea {
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: var(--box-shadow);
    border: none;
    border-radius: 5px;
    font: var(--main-text);
}

.contact-form-textarea {
    resize: none;
}

.contact-gmap-container {
    width: 100%;
    height: 20rem;
}

.contact-gmap {
    width: 100%;
    height: 100%;
    border: none;
}

.contact-location {
    padding: 1rem 1.5rem 3rem 1.5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    'call'
    'email'
    'linkedin'
    'open'
    'location'
    'cvr'
    ;
}

.contact-location-grid-call {
    grid-area: call;
}

.contact-location-grid-email {
    grid-area: email;
}

.contact-location-grid-linkedin {
    grid-area: linkedin;
}

.contact-location-grid-open {
    grid-area: open;
}

.contact-location-grid-location {
    grid-area: cvr;
}

.contact-form-btn {
    border: none;
    width: 50%;
    margin: 0 auto;
}

/* -------------------- INSPIRATION STYLING -------------------- */

.projects-section {
    padding: 2rem 0;
}

.projects-container {
    margin-top: 6rem;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem;
}

.projects-mockup {
    margin-top: -8rem;
    margin-bottom: 0.5rem;
}

.projects-desc {
    display: flex;
    flex-direction: column;
}

.projects-heading {
    color: var(--primary-color);
    font: var(--primary-heading);
    font-size: 1.7rem;
}

.projects-link {
    font-family: Contrail-one;
    color: var(--primary-color);
    margin-top: 1rem;
    align-self: center;
}

.portfolio-gallery {
    background: transparent;
    width: 100%;
    margin-bottom: 2.5rem;
}

.portfolio-gallery-cell {
    width: 80%;
    height: 27rem;
    margin-right: 10px;
    background-color: var(--white-color) !important;
    counter-increment: gallery-cell;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.portfolio-gallery-image {
    width: 90%;
    margin-top: -1rem;
}

.portfolio-cell-text {
    margin-top: 2rem;
}

.portfolio-cell-link {
    font-family: Contrail-one;
    color: var(--primary-color);
    margin-top: 1rem;
}

/* -------------------- ABOUT STYLING -------------------- */

.about-hero {
    background-image: url(../assets/images/about/about-hero.jpg);
}


.employee-container {
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    background-color: var(--white-color);
    height: 32rem;
    margin-top: 10.5rem;
}

.employee-content-card {
    position: relative;
    top: -7.5rem;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.employee-content-card h3 {
    font-size: 2em;
}

.employee-content-card > img {
    width: 75%;
    border-radius: 5px;
    align-self: center;
}

.employee-contact-information {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.employee-contact-content {
    display: flex;
    flex-direction: row;
    margin: .5rem 0;
    height: 3rem;
}

.employee-icon {
    margin-right: 1rem;
    width: 3rem;
}


/* Tablet styling */
@media only screen and (min-width: 800px)
{

    /* -------------------- HEADER -------------------- */
    header {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .burger-toggle {
        display: none;
    }

    .navigation {
        transform: translate(0, 0);
        right: 0;
        width: fit-content;
        height: 5rem;
        flex-direction: row;
        background-color: transparent;
    }

    .logo {
        height: 3rem;
        margin-top: 1rem;
    }

    .navigation-logo {
        display: none;
    }

    .navigation-list {
        flex-direction: row;
        margin: 0;
        height: 5rem;
        align-items: center;
    }

    .navigation-item {
        margin: 0;
        padding: 1rem;
        width: max-content;
    }

    .navigation-link {
        padding: 0;
    }

    .navigation-item:before {
        display: none;
    }

    .navigation-link-arrow {
        display: none;
    }

    .navigation-cta-btn {
        margin: auto 0 auto 1rem;
        transform: scale(.8);
    }
    
    /* -------------------- FOOTER -------------------- */
    
    footer {
        margin: 0 1.5rem;
    }
    
    .footer-contact-info-container {
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }

    .footer-contact-info-block {
        min-width: 30%;
    }

    .footer-newsletter-container {
        flex-direction: column;
    }

    .footer-content-container {
        display: flex;
        flex-direction: row-reverse;
    }

    .footer-grid-container {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        'practical legal'
        'contact some'
        ;
    }

    .footer-grid-container a {
        font-weight: normal;
    }

    .footer-grid-legal, .footer-grid-practical {
        position: relative;
    }

    .footer-grid-legal:before, .footer-grid-practical:before {
        position: absolute;
        content: '';
        bottom: 2.5rem;
        left: 0;
        width: 100%;
        height: .125rem;
        background-color: var(--line-color);
    }

    .footer-grid-legal:before {
        width: 90%;
    }

    .footer-newsletter-container {
        width: 30rem;
        text-align: unset;
    }
    
    .footer-newsletter-container h6 {
        margin: unset;

    }

    .footer-newsletter-btn {
        align-self: unset;
    }
    


    /* -------------------- INDEX STYLING -------------------- */
    .intro-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 1rem;
    }

    .intro-section h2 {
        width: 100%;
    }
    .intro-section p {
        width: 50%;
    }

    .intro-video {
        width: 45%;
    }

    .call-me-section {
        display: grid;
        column-gap: 1rem;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "container container container heading heading heading heading heading"
        "container container container desc desc desc desc desc"
        "container container container . . . . .";
    }

    .call-me-section h3 {
        grid-area: heading;
    }

    .call-me-section p {
        grid-area: desc;
        width: 80%;
    }

    .call-me-container {
        grid-area: container;
        flex-direction: column-reverse;
        overflow: visible;
        width: 100%;
        border-radius: 5px;
    }

    .call-me-container h2 {
        margin-top: 1rem;
    }

    .call-me-image {
        position: static;
        width: 100%;
        height: 8rem;
        border-radius: 5px; 
        background-size: 100%;
        background-position: 50% 50%;
    }
    
    .call-me-image:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 8rem;
        background-image: var(--cta-gradient);
        opacity: 60%;
        border-radius: 5px 5px 0 0;
    }

    .call-me-form {

    }


    .call-me-section {
        padding: 4rem 1.5rem !important;
    }

    /* TESTIMONIALS CAROUSEL */

.gallery {
    background: transparent;
    width: 100%;
    margin-bottom: 2.5rem;

}

.gallery-cell {
    width: 30%;
    height: 17rem;
    margin-right: 10px;
    background-color: var(--white-color) !important;
    counter-increment: gallery-cell;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.gallery-cell-name {
    position: relative;
}

.gallery-cell-name:before {
    position: absolute;
    content: '';
    width: 80%;
    height: 2px;
    background-color: var(--line-color);
    bottom: -1.25rem;
    transform: translateX(10%);
}

.cell-rating {
    display: flex;
    flex-direction: row;
}


.cell-rating img {
    display: flex;
    flex-direction: row;
    width: 1.8rem;
    margin: 0 0.2rem;
}

.references-section {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color--alternate);
}

.reference-section-desc {
    width: 60%;
}

.references-image {
    margin-top: -2rem;
    width: 100%;
}

.references-cta-btn {
    width: auto;
    align-self: center;
    font-size: 1.5rem;
}



    /* -------------------- INSPIRATION STYLING -------------------- */

.projects-section {
    padding: 2rem 0;
}

.projects-container {
    margin-top: 0;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    width: 80%;
}

.projects-section-top {
    margin-top: 4rem;
}

.projects-mockup {
    margin: 0 -30% 0 0;
    height: 20rem;
}

.projects-desc {
    display: flex;
    flex-direction: column;
}

.projects-heading {
    color: var(--primary-color);
    font: var(--primary-heading);
    font-size: 1.7rem;
}

.projects-link {
    font-family: Contrail-one;
    color: var(--primary-color);
    margin-top: 1rem;
    align-self: flex-start;
}

.portfolio-gallery {
    background: transparent;
    width: 100%;
    margin-bottom: 2.5rem;
}

.portfolio-gallery-cell {
    width: 30%;
    height: 27rem;
    margin-right: 10px;
    background-color: var(--white-color) !important;
    counter-increment: gallery-cell;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.portfolio-gallery-image {
    width: auto;
    height: 50%;
    margin-top: -1rem;
}

.portfolio-cell-text {
    margin-top: 2rem;
}

.portfolio-cell-link {
    font-family: Contrail-one;
    color: var(--primary-color);
    margin-top: 1rem;
    align-self: center;
}

/* -------------------- ABOUT STYLING -------------------- */

.about-intro {
    display: flex;
    flex-wrap: wrap;
}

.about-heading {
    width: 100% !important;
}

.about-text {
    width: 50%;
}

.about-video {
    width: 45%;
    margin-left: 2rem;
}


.about-employees-section {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 1rem;
}

.employee-container {
    height: 37rem;
}

/* -------------------- CONTACT STYLING -------------------- */

.contact-hero {
    background-image: url(../assets/images/contact/contact-hero.png);
}

.contact-hero > .hero-heading {
    max-width: 65%;
}


.contact-container {
    display: flex;
    column-gap: 1rem;
    justify-content: space-between;
}

.contact-info {
    width: 50%;
}

.contact-form-section {
    width: 50%;
}

.contact-gmap-container {
    width: 100%;
    height: 20rem;
}

.contact-gmap {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 1.5rem;
}

.contact-location {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    'call open'
    'email location'
    'linkedin cvr'
    ;
}

section.contact-location {
    display: flex;
    flex-direction: column;
}

.contact-location-grid-call {
    grid-area: call;
}

.contact-location-grid-email {
    grid-area: email;
}

.contact-location-grid-linkedin {
    grid-area: linkedin;
}

.contact-location-grid-open {
    grid-area: open;
}

.contact-location-grid-location {
    grid-area: cvr;
}


/* -------------------- PRODUCTS STYLING -------------------- */

.products-hero {
    background-image: url(../assets/images/products/products-hero.png);
}

.product-intro {
    padding: 0;
    width: 70%;
}

.product-section {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    justify-content: space-between;
}

.product-section-alt {
    flex-direction: row-reverse;
}

.product-image {
    background-image: url(../assets/images/products/products-hero.png);
    margin-top: 2rem;
    width: 40%;
    height: 16rem;
    border-radius: var(--border-radius)
}

.product-image:before {
    border-radius: var(--border-radius)
}

.product-desc {
    padding: 0;
    width: 55%;
}

/* -------------------- CONTACT STYLING -------------------- */

}

@media only screen and (min-width: 1200px)
{
    /* -------------------- HEADER -------------------- */


    .header-wrapper {
        max-width: 1400px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    .navigation {
        position: unset;
        padding: 0;
    }

    .logo {
        margin-top: unset;
    }

    .navigation-cta-btn {
        margin: auto 0 auto 1rem;
        font-size: 1.3rem;
        transform: scale(1);
    }

    /* -------------------- FOOTER -------------------- */

    .footer-wrapper {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
    }

        /* -------------------- INDEX STYLING -------------------- */
        .intro-section {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: auto;
            grid-template-areas: 
            "vid vid vid vid vid vid . heading heading heading heading heading"
            "vid vid vid vid vid vid . desc desc desc desc desc"
            "vid vid vid vid vid vid . . . . . . ";
            justify-content: space-between;
            column-gap: 1rem;
            max-width: 1400px;
            margin: 0 auto;
            padding: 4rem 0 4rem 0 !important;
        }
    
        .intro-section h2 {
            grid-area: heading;
            width: 100%;
        }
        .intro-section p {
            grid-area: desc;
            width: 100%;
        }
    
        .intro-video {
            grid-area: vid;
            width: 100%;
        }
    
        .call-me-section {
            background-color: none;
            display: grid;
            column-gap: 1rem;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: auto;
            grid-template-areas: 
            "heading heading heading heading heading . . container container container container container"
            "desc desc desc desc desc . . container container container container container"
            ". . . . . . . container container container container container";
            max-width: 1400px;
            margin: 0 auto;
            padding: 4rem 0 !important;
        }
    
        .call-me-section h3 {
            grid-area: heading;
        }
    
        .call-me-section p {
            grid-area: desc;
            width: 100%;
        }
    
        .call-me-container {
            grid-area: container;
            flex-direction: row;
            overflow: visible;
            width: 100%;
            border-radius: 5px;
            height: 16rem;
        }
    
        .call-me-container h2 {
            margin-top: 1rem;
        }
    
        .call-me-form {
    
        }

        .call-me-image {
            background-image: url(../assets/images/index-call-me-image.jpg);
            width: 60%;
            background-size: cover;
            background-position: 50% 70%;
            position: relative;
            height: 100%;
        }
        
        .call-me-image:before {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 100%;
            background-image: var(--cta-gradient);
            opacity: 60%;
        }
    
 
    
        /* TESTIMONIALS CAROUSEL */

    .testemonials-section {
        max-width: 1400px;
        margin: 0 auto;
    }
    
    .gallery {
        background: transparent;
        width: 100%;
        margin-bottom: 2.5rem;
    
    }
    
    .gallery-cell {
        width: 30%;
        height: 17rem;
        margin-right: 10px;
        background-color: var(--white-color) !important;
        counter-increment: gallery-cell;
        box-shadow: var(--box-shadow);
        border-radius: 5px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    .gallery-cell-name {
        position: relative;
    }
    
    .gallery-cell-name:before {
        position: absolute;
        content: '';
        width: 80%;
        height: 2px;
        background-color: var(--line-color);
        bottom: -1.25rem;
        transform: translateX(10%);
    }
    
    .cell-rating {
        display: flex;
        flex-direction: row;
    }
    
    
    .cell-rating img {
        display: flex;
        flex-direction: row;
        width: 1.8rem;
        margin: 0 0.2rem;
    }
    

    .references-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--background-color--alternate);
        max-width: 1400px;
        margin: 0 auto;
    }
    
    .reference-section-desc {
        width: 40%;
        margin-top: 3rem;
    }

    .reference-section-desc p {
        margin-bottom: 2rem;
    }
    
    .references-image {
        margin-top: -2rem;
        width: 55%;
    }
    
    .references-cta-btn {
        width: auto;
        align-self: center;
        font-size: 1.3rem;
    }
    .reference-btn-mobile {
        display: none;
    }
    .reference-btn-desktop {
        display: inline;
    }

    
    /* -------------------- INSPIRATION STYLING -------------------- */

.projects-carousel {
    z-index: 1;
    overflow-x: hidden;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;

}




.projects-section {
    padding: 2rem 0 !important;
    max-width: 1400px;
    margin: 0 auto;
}

.projects-section-top {
    margin-top: 4rem;
}

.projects-container {
    margin-top: 0;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    width: 80%;
}

.projects-mockup {
    margin: 0 -30% 0 0;
    height: 20rem;
}

.projects-desc {
    display: flex;
    flex-direction: column;
}

.projects-heading {
    color: var(--primary-color);
    font: var(--primary-heading);
    font-size: 1.7rem;
}

.projects-link {
    font-family: Contrail-one;
    color: var(--primary-color);
    margin-top: 1rem;
    align-self: flex-start;
}

.portfolio-gallery {
    background: transparent;
    width: 100%;
    margin-bottom: 2.5rem;
}

.portfolio-gallery-cell {
    width: 30%;
    height: 27rem;
    margin-right: 10px;
    background-color: var(--white-color) !important;
    counter-increment: gallery-cell;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.portfolio-gallery-image {
    width: 90%;
    margin-top: -1rem;
}

.portfolio-cell-text {
    margin-top: 2rem;
}

.portfolio-cell-link {
    font-family: Contrail-one;
    color: var(--primary-color);
    margin-top: 1rem;
    align-self: center;
}


/* -------------------- ABOUT STYLING -------------------- */

.about-intro {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
}

.about-heading {
    width: 100% !important;
}

.about-text {
    width: 50%;
}

.about-video {
    width: 45%;
}


.about-employees-section {
    max-width: 1400px;
    margin: 0 auto;
}

.employee-container {
    height: 25rem;
}

.employee-content-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "img ."
    "img icons"
    "name name"
    "desc desc";
    padding: 1rem;
}

.employee-content-card h3 {
    grid-area: name;
}

.employee-content-card p {
    grid-area: desc;
}

.employee-content-card > img {
    width: 90%;
    align-self: flex-start;
    grid-area: img;
}

.employee-contact-information {
    width: 100%;
    grid-area: icons;
    margin-top: -50%;
}


/* -------------------- CONTACT STYLING -------------------- */

.contact-hero {
    background-image: url(../assets/images/contact/contact-hero.png);
}

.contact-hero > .hero-heading {
    max-width: 65%;
}

.contact-section {
    max-width: 1400px;
    margin: 0 auto;
}


.location-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    column-gap: 1rem;
    justify-content: space-between;
    padding-bottom: 5rem;
}

.contact-info {
    width: 50%;
}

.contact-form-section {
    width: 50%;
}

.contact-gmap-container {
    max-width: 1400px;
    margin: 0 auto;
    height: 20rem;
}

.contact-gmap {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 1.5rem;
}

    div.contact-location {
    width: 100%;
    display: grid;
    align-self: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    'call open'
    'email location'
    'linkedin cvr'
    ;
}

.contact-location p {
    width: 50%;
}

section.contact-location {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
}

.contact-location-grid-call {
    grid-area: call;
}

.contact-location-grid-email {
    grid-area: email;
}

.contact-location-grid-linkedin {
    grid-area: linkedin;
}

.contact-location-grid-open {
    grid-area: open;
}

.contact-location-grid-location {
    grid-area: cvr;
}

/* -------------------- PRODUCTS STYLING -------------------- */

.products-hero {
    background-image: url(../assets/images/products/products-hero.png);
}

.product-intro {
    padding: 0;
    width: 70%;
}

.product-section {
    padding: 2rem 0;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    justify-content: space-between;
}

.product-section-alt {
    flex-direction: row-reverse;
}

.product-image {
    background-image: url(../assets/images/products/products-hero.png);
    margin-top: 2rem;
    width: 45%;
    height: 22rem;
    border-radius: var(--border-radius)
}

.product-image:before {
    border-radius: var(--border-radius)
}

.product-desc {
    padding: 0;
    width: 45%;
}


}
